extends ../layout

block content
  h3 #{title}
  form(method='POST', action='/pfc/add')
    #form-group
      label Operation Number:
      input.form-control(name='operationNum', type='number')
    #form-group
      label Work Station Number/ Machine Number:
      input.form-control(name='machineNum', type='text')
    #form-group
      label Offline Assly Flow:
      input.form-control(name='offAssly', type='text')
    #form-group
      label Product Characteristics:
      textarea.form-control(name='prodChars')
    #form-group
      label Process Characteristics:
      textarea.form-control(name='processChars')
    #form-group
      label Char:
      input.form-control(name='char', type='text')
    #form-group
      label Open Issues/ Remarks:
      input.form-control(name='remarks', type='text')
    br
    input.btn.btn-primary(type='submit',value='Submit')
